In [1]:
# https://www.goodreads.com/list/show/19.Best_for_Book_Clubs

In [13]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from bs4 import BeautifulSoup
import requests
import re

In [53]:
def book_info(url):
    req = requests.get(url).text
    ip = BeautifulSoup(req)
    ratings_users = [[re.split(' [\D]*' , i.text)[1] , re.split(' [\D]*' , i.text)[2]] for i in ip.find_all('span' , class_ = 'minirating')]
    book_title = [i.text.strip() for i in ip.find_all('span',itemprop = 'name' , role = 'heading')]
    author_name = [ i.text.strip() for i in ip.find_all('a' , class_ = 'authorName')]
    df = pd.DataFrame()
    df['Book Name'] = book_title
    df['Author Name'] = author_name
    df['Ratings'] = [i[0] for i in ratings_users ]
    df['No Of Users Rated'] = [i[1] for i in ratings_users ]
    return df
    
master_dict = {}
url = 'https://www.goodreads.com/list/show/19.Best_for_Book_Clubs?page={}'
for i in tqdm(range(1,12)):
    df = book_info(url.format(i))
    master_dict[i] = df

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:56<00:00,  5.14s/it]

In [ ]:
master_dict[2]

In [57]:
master_dataframe = pd.concat( master_dict[i] for i in master_dict )

In [88]:
master_dataframe [ master_dataframe['Book Name'] == 'Middlesex' ]

    Book Name        Author Name Ratings No Of Users Rated
28  Middlesex  Jeffrey Eugenides    4.00           555,747

In [67]:
[re.split(' [\D]' , i.text) for i in ip.find_all('span' , class_ = 'minirating')][0]

[' 4.46', 'vg', 'ating', ' 1,917,397', 'atings']

In [63]:
[ i.text for i in ip.find_all('span' , class_ = 'minirating')][0]

' 4.46 avg rating — 1,917,397 ratings'

In [68]:
[ i.text.split() for i in ip.find_all('span' , class_ = 'minirating')][0]

['4.46', 'avg', 'rating', '—', '1,917,397', 'ratings']

In [103]:
[ re.sub( '#{2,}' ,' ', '#'.join( re.findall( r'\b([\d.,]*)\b' ,i.text) ) ).strip() for i in ip.find_all('span' , class_ = 'minirating')][0]

'4.46 1,917,397'

In [114]:
[ i.text.strip() for i in ip.find_all('a' , class_ = 'bookTitle')][ : 5]

['The Help',
 'The Kite Runner',
 'Water for Elephants',
 'The Book Thief',
 'To Kill a Mockingbird (To Kill a Mockingbird, #1)']

In [117]:
[ i.text.strip() for i in ip.find_all('span' , attrs = { 'itemprop' : 'name' , 'role' : 'heading' } )][ : 5]

['The Help',
 'The Kite Runner',
 'Water for Elephants',
 'The Book Thief',
 'To Kill a Mockingbird (To Kill a Mockingbird, #1)']

In [126]:
[list(i.children)[1].text for i in ip.find_all('span' , class_ = 'smallText uitext')][0]

'score: 213,334'

In [130]:
[list(i.children)[5].text for i in ip.find_all('span' , class_ = 'smallText uitext')]

['2,175 people voted',
 '1,614 people voted',
 '1,560 people voted',
 '1,289 people voted',
 '1,189 people voted',
 '993 people voted',
 '954 people voted',
 '927 people voted',
 '867 people voted',
 '835 people voted',
 '809 people voted',
 '758 people voted',
 '758 people voted',
 '684 people voted',
 '647 people voted',
 '601 people voted',
 '579 people voted',
 '553 people voted',
 '544 people voted',
 '543 people voted',
 '499 people voted',
 '487 people voted',
 '439 people voted',
 '446 people voted',
 '444 people voted',
 '433 people voted',
 '430 people voted',
 '422 people voted',
 '405 people voted',
 '399 people voted',
 '380 people voted',
 '383 people voted',
 '371 people voted',
 '364 people voted',
 '346 people voted',
 '339 people voted',
 '319 people voted',
 '333 people voted',
 '328 people voted',
 '331 people voted',
 '326 people voted',
 '306 people voted',
 '297 people voted',
 '279 people voted',
 '283 people voted',
 '278 people voted',
 '272 people voted',
 '263 people voted',
 '266 people voted',
 '272 people voted',
 '271 people voted',
 '268 people voted',
 '259 people voted',
 '257 people voted',
 '250 people voted',
 '248 people voted',
 '235 people voted',
 '247 people voted',
 '234 people voted',
 '241 people voted',
 '228 people voted',
 '219 people voted',
 '204 people voted',
 '217 people voted',
 '219 people voted',
 '201 people voted',
 '206 people voted',
 '210 people voted',
 '200 people voted',
 '201 people voted',
 '195 people voted',
 '191 people voted',
 '190 people voted',
 '192 people voted',
 '188 people voted',
 '178 people voted',
 '188 people voted',
 '178 people voted',
 '180 people voted',
 '170 people voted',
 '179 people voted',
 '179 people voted',
 '169 people voted',
 '170 people voted',
 '163 people voted',
 '146 people voted',
 '175 people voted',
 '164 people voted',
 '151 people voted',
 '167 people voted',
 '148 people voted',
 '149 people voted',
 '148 people voted',
 '141 people voted',
 '136 people voted',
 '136 people voted',
 '140 people voted',
 '137 people voted',
 '130 people voted',
 '125 people voted']