## Introduction to Pandas

#### 1. Reading a csv file

In [1]:
# Check the current working directory
import os
os.getcwd()

'C:\\Users\\PARTHI vs BHARATHI\\Downloads\\PRAXIS\\A Term 1\\Python'

In [2]:
# Set the working directory
#os.chdir("C:\\Users\\PARTHI vs BHARATHI\\Downloads")

#Read the cars.csv data
import pandas as pd

In [3]:
cars = pd.read_csv("cars.csv")

In [ ]:
#cars = pd.read_csv("C:\\Users\\PARTHI vs BHARATHI\\Downloads\\cars.csv") - we can use this also.

In [4]:
type(cars) #diff data types is dataframe unlike the array in numpy.

pandas.core.frame.DataFrame

In [5]:
cars.head(n=5)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US

#### 2. Some initial steps with data

In [6]:
#A. Check the dimension of the data set
cars.shape #return in a tuple

(406, 9)

In [7]:
#B. Number of rows in the data set
len(cars) #len always give rows count.

406

In [8]:
#OR Simply
cars.shape[0]

406

In [9]:
#C. Number of columns in the data set
cars.shape[1]

9

In [10]:
len(cars.columns)

9

In [11]:
cars.columns #get the columns

Index(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model', 'Origin'],
      dtype='object')

In [12]:
cars.index #get row indexes

RangeIndex(start=0, stop=406, step=1)

In [13]:
#Studying the variable types
cars.dtypes

Car              object
MPG             float64
Cylinders         int64
Displacement    float64
Horsepower        int64
Weight            int64
Acceleration    float64
Model             int64
Origin           object
dtype: object

In [14]:
#D. Getting the variable names
list(cars)

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [19]:
#OR
list(cars)

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [23]:
#E. Printing the first 5 lines of the data set
cars.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US

In [20]:
#F. Printing the first 10 lines of the data set
cars.head(10)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US
5,Ford Galaxie 500,15.0,8,429.0,198,4341,10.0,70,US
6,Chevrolet Impala,14.0,8,454.0,220,4354,9.0,70,US
7,Plymouth Fury iii,14.0,8,440.0,215,4312,8.5,70,US
8,Pontiac Catalina,14.0,8,455.0,225,4425,10.0,70,US
9,AMC Ambassador DPL,15.0,8,390.0,190,3850,8.5,70,US

In [25]:
#G. Printing the last 5 lines of the data set
cars.tail()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
401,Ford Mustang GL,27.0,4,140.0,86,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84,2295,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79,2625,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82,2720,19.4,82,US

In [21]:
#H. Printing the random sample of data
cars.sample(5)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
140,Chevrolet Chevelle Malibu Classic,16.0,6,250.0,100,3781,17.0,74,US
221,Ford F108,13.0,8,302.0,130,3870,15.0,76,US
19,Buick Estate Wagon (sw),14.0,8,455.0,225,3086,10.0,70,US
392,Honda Civic (auto),32.0,4,91.0,67,1965,15.7,82,Japan
151,Toyota Corolla,31.0,4,76.0,52,1649,16.5,74,Japan

In [22]:
#full data
cars

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US
5,Ford Galaxie 500,15.0,8,429.0,198,4341,10.0,70,US
6,Chevrolet Impala,14.0,8,454.0,220,4354,9.0,70,US
7,Plymouth Fury iii,14.0,8,440.0,215,4312,8.5,70,US
8,Pontiac Catalina,14.0,8,455.0,225,4425,10.0,70,US
9,AMC Ambassador DPL,15.0,8,390.0,190,3850,8.5,70,US
10,Citroen DS-21 Pallas,0.0,4,133.0,115,3090,17.5,70,Europe
11,Chevrolet Chevelle Concours (sw),0.0,8,350.0,165,4142,11.5,70,US
12,Ford Torino (sw),0.0,8,351.0,153,4034,11.0,70,US
13,Plymouth Satellite (sw),0.0,8,383.0,175,4166,10.5,70,US
14,AMC Rebel SST (sw),0.0,8,360.0,175,3850,11.0,70,US
15,Dodge Challenger SE,15.0,8,383.0,170,3563,10.0,70,US
16,Plymouth 'Cuda 340,14.0,8,340.0,160,3609,8.0,70,US
17,Ford Mustang Boss 302,0.0,8,302.0,140,3353,8.0,70,US
18,Chevrolet Monte Carlo,15.0,8,400.0,150,3761,9.5,70,US
19,Buick Estate Wagon (sw),14.0,8,455.0,225,3086,10.0,70,US
20,Toyota Corolla Mark ii,24.0,4,113.0,95,2372,15.0,70,Japan
21,Plymouth Duster,22.0,6,198.0,95,2833,15.5,70,US
22,AMC Hornet,18.0,6,199.0,97,2774,15.5,70,US
23,Ford Maverick,21.0,6,200.0,85,2587,16.0,70,US
24,Datsun PL510,27.0,4,97.0,88,2130,14.5,70,Japan
25,Volkswagen 1131 Deluxe Sedan,26.0,4,97.0,46,1835,20.5,70,Europe
26,Peugeot 504,25.0,4,110.0,87,2672,17.5,70,Europe
27,Audi 100 LS,24.0,4,107.0,90,2430,14.5,70,Europe
28,Saab 99e,25.0,4,104.0,95,2375,17.5,70,Europe
29,BMW 2002,26.0,4,121.0,113,2234,12.5,70,Europe
...,...,...,...,...,...,...,...,...,...
376,Chevrolet Cavalier Wagon,27.0,4,112.0,88,2640,18.6,82,US
377,Chevrolet Cavalier 2-door,34.0,4,112.0,88,2395,18.0,82,US
378,Pontiac J2000 SE Hatchback,31.0,4,112.0,85,2575,16.2,82,US
379,Dodge Aries SE,29.0,4,135.0,84,2525,16.0,82,US
380,Pontiac Phoenix,27.0,4,151.0,90,2735,18.0,82,US
381,Ford Fairmont Futura,24.0,4,140.0,92,2865,16.4,82,US
382,AMC Concord DL,23.0,4,151.0,0,3035,20.5,82,US
383,Volkswagen Rabbit l,36.0,4,105.0,74,1980,15.3,82,Europe
384,Mazda GLC Custom l,37.0,4,91.0,68,2025,18.2,82,Japan
385,Mazda GLC Custom,31.0,4,91.0,68,1970,17.6,82,Japan
386,Plymouth Horizon Miser,38.0,4,105.0,63,2125,14.7,82,US
387,Mercury Lynx l,36.0,4,98.0,70,2125,17.3,82,US
388,Nissan Stanza XE,36.0,4,120.0,88,2160,14.5,82,Japan
389,Honda Accord,36.0,4,107.0,75,2205,14.5,82,Japan
390,Toyota Corolla,34.0,4,108.0,70,2245,16.9,82,Japan
391,Honda Civic,38.0,4,91.0,67,1965,15.0,82,Japan
392,Honda Civic (auto),32.0,4,91.0,67,1965,15.7,82,Japan
393,Datsun 310 GX,38.0,4,91.0,67,1995,16.2,82,Japan
394,Buick Century Limited,25.0,6,181.0,110,2945,16.4,82,US
395,Oldsmobile Cutlass Ciera (diesel),38.0,6,262.0,85,3015,17.0,82,US
396,Chrysler Lebaron Medallion,26.0,4,156.0,92,2585,14.5,82,US
397,Ford Grenada l,22.0,6,232.0,112,2835,14.7,82,US
398,Toyota Celica GT,32.0,4,144.0,96,2665,13.9,82,Japan
399,Dodge Charger 2.2,36.0,4,135.0,84,2370,13.0,82,US
400,Chevrolet Camaro,27.0,4,151.0,90,2950,17.3,82,US
401,Ford Mustang GL,27.0,4,140.0,86,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84,2295,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79,2625,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82,2720,19.4,82,US

#### 3. Choosing a single variable

In [29]:
#Method1 - Use Square brackets
cars["MPG"].head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: MPG, dtype: float64

In [30]:
cars["Cylinders"].head()

0    8
1    8
2    8
3    8
4    8
Name: Cylinders, dtype: int64

In [31]:
cars["Model"]

0      70
1      70
2      70
3      70
4      70
5      70
6      70
7      70
8      70
9      70
10     70
11     70
12     70
13     70
14     70
15     70
16     70
17     70
18     70
19     70
20     70
21     70
22     70
23     70
24     70
25     70
26     70
27     70
28     70
29     70
       ..
376    82
377    82
378    82
379    82
380    82
381    82
382    82
383    82
384    82
385    82
386    82
387    82
388    82
389    82
390    82
391    82
392    82
393    82
394    82
395    82
396    82
397    82
398    82
399    82
400    82
401    82
402    82
403    82
404    82
405    82
Name: Model, Length: 406, dtype: int64

In [32]:
#Method2 - Use dot (.)
cars.Acceleration

0      12.0
1      11.5
2      11.0
3      12.0
4      10.5
5      10.0
6       9.0
7       8.5
8      10.0
9       8.5
10     17.5
11     11.5
12     11.0
13     10.5
14     11.0
15     10.0
16      8.0
17      8.0
18      9.5
19     10.0
20     15.0
21     15.5
22     15.5
23     16.0
24     14.5
25     20.5
26     17.5
27     14.5
28     17.5
29     12.5
       ...
376    18.6
377    18.0
378    16.2
379    16.0
380    18.0
381    16.4
382    20.5
383    15.3
384    18.2
385    17.6
386    14.7
387    17.3
388    14.5
389    14.5
390    16.9
391    15.0
392    15.7
393    16.2
394    16.4
395    17.0
396    14.5
397    14.7
398    13.9
399    13.0
400    17.3
401    15.6
402    24.6
403    11.6
404    18.6
405    19.4
Name: Acceleration, Length: 406, dtype: float64

In [26]:
cars.Model.head(3)

0    70
1    70
2    70
Name: Model, dtype: int64

In [24]:
cars.Cylinders.head()

0    8
1    8
2    8
3    8
4    8
Name: Cylinders, dtype: int64

#### 4. Some Basic Statistical Functions

In [37]:
type(cars.MPG) #variable/column is a series.

pandas.core.series.Series

In [29]:
#sum
cars.sum()

Car             Chevrolet Chevelle MalibuBuick Skylark 320Plym...
MPG                                                        9358.8
Cylinders                                                    2223
Displacement                                              79080.5
Horsepower                                                  42033
Weight                                                    1209642
Acceleration                                                 6301
Model                                                       30824
Origin          USUSUSUSUSUSUSUSUSUSEuropeUSUSUSUSUSUSUSUSUSJa...
dtype: object

In [31]:
cars.MPG.sum()

9358.8

In [40]:
cars.Car.sum()

"Chevrolet Chevelle MalibuBuick Skylark 320Plymouth SatelliteAMC Rebel SSTFord TorinoFord Galaxie 500Chevrolet ImpalaPlymouth Fury iiiPontiac CatalinaAMC Ambassador DPLCitroen DS-21 PallasChevrolet Chevelle Concours (sw)Ford Torino (sw)Plymouth Satellite (sw)AMC Rebel SST (sw)Dodge Challenger SEPlymouth 'Cuda 340Ford Mustang Boss 302Chevrolet Monte CarloBuick Estate Wagon (sw)Toyota Corolla Mark iiPlymouth DusterAMC HornetFord MaverickDatsun PL510Volkswagen 1131 Deluxe SedanPeugeot 504Audi 100 LSSaab 99eBMW 2002AMC GremlinFord F250Chevy C20Dodge D200Hi 1200DDatsun PL510Chevrolet Vega 2300Toyota CorollaFord PintoVolkswagen Super Beetle 117AMC GremlinPlymouth Satellite CustomChevrolet Chevelle MalibuFord Torino 500AMC MatadorChevrolet ImpalaPontiac Catalina BroughamFord Galaxie 500Plymouth Fury iiiDodge Monaco (sw)Ford Country Squire (sw)Pontiac Safari (sw)AMC Hornet Sportabout (sw)Chevrolet Vega (sw)Pontiac FirebirdFord MustangMercury Capri 2000Opel 1900Peugeot 304Fiat 124BToyota Corolla 1200Datsun 1200Volkswagen Model 111Plymouth CricketToyota Corolla HardtopDodge Colt HardtopVolkswagen Type 3Chevrolet VegaFord Pinto RunaboutChevrolet ImpalaPontiac CatalinaPlymouth Fury IIIFord Galaxie 500AMC Ambassador SSTMercury MarquisBuick LeSabre CustomOldsmobile Delta 88 RoyaleChrysler Newport RoyalMazda RX2 CoupeAMC Matador (sw)Chevrolet Chevelle Concours (sw)Ford Gran Torino (sw)Plymouth Satellite Custom (sw)Volvo 145e (sw)Volkswagen 411 (sw)Peugeot 504 (sw)Renault 12 (sw)Ford Pinto (sw)Datsun 510 (sw)Toyota Corolla Mark II (sw)Dodge Colt (sw)Toyota Corolla 1600 (sw)Buick Century 350AMC MatadorChevrolet MalibuFord Gran TorinoDodge Coronet CustomMercury Marquis BroughamChevrolet Caprice ClassicFord LTDPlymouth Fury Gran SedanChrysler New Yorker BroughamBuick Electra 225 CustomAMC Ambassador BroughamPlymouth ValiantChevrolet Nova CustomAMC HornetFord MaverickPlymouth DusterVolkswagen Super BeetleChevrolet ImpalaFord CountryPlymouth Custom SuburbOldsmobile Vista CruiserAMC GremlinToyota CamryChevrolet VegaDatsun 610Mazda RX3Ford PintoMercury Capri v6Fiat 124 Sport CoupeChevrolet Monte Carlo SPontiac Grand PrixFiat 128Opel MantaAudi 100LSVolvo 144eaDodge Dart CustomSaab 99leToyota Mark IIOldsmobile OmegaPlymouth DusterFord MaverickAMC HornetChevrolet NovaDatsun B210Ford PintoToyota Corolla 1200Chevrolet VegaChevrolet Chevelle Malibu ClassicAMC MatadorPlymouth Satellite SebringFord Gran TorinoBuick Century Luxus (sw)Dodge Coronet Custom (sw)Ford Gran Torino (sw)AMC Matador (sw)Audi FoxVolkswagen DasherOpel MantaToyota CorollaDatsun 710Dodge ColtFiat 128Fiat 124 TCHonda CivicSubaruFiat x1.9Plymouth Valiant CustomChevrolet NovaMercury MonarchFord MaverickPontiac CatalinaChevrolet Bel AirPlymouth Grand FuryFord LTDBuick CenturyChevrolete Chevelle MalibuAMC MatadorPlymouth FuryBuick SkyhawkChevrolet Monza 2+2Ford Mustang IIToyota CorollaFord PintoAMC GremlinPontiac AstroToyota CorollaVolkswagen DasherDatsun 710Ford PintoVolkswagen RabbitAMC PacerAudi 100LSPeugeot 504Volvo 244DLSaab 99LEHonda Civic CVCCFiat 131Opel 1900Capri iiDodge ColtRenault 12tlChevrolet Chevelle Malibu ClassicDodge Coronet BroughamAMC MatadorFord Gran TorinoPlymouth ValiantChevrolet NovaFord MaverickAMC HornetChevrolet ChevetteChevrolet WoodyVolkswagen RabbitHonda CivicDodge Aspen SEFord Grenada ghiaPontiac Ventura SJAMC Pacer d/lVolkswagen RabbitDatsun B-210Toyota CorollaFord PintoVolvo 245Plymouth Volare Premier v8Peugeot 504Toyota Mark IIMercedes-Benz 280sCadillac SevilleChevrolet C10Ford F108Dodge D100Honda Accord CVCCBuick Opel Isuzu DeluxeRenault 5 GTLPlymouth Arrow GSDatsun F-10 HatchbackChevrolet Caprice ClassicOldsmobile Cutlass SupremeDodge Monaco BroughamMercury Cougar BroughamChevrolet ConcoursBuick SkylarkPlymouth Volare CustomFord GrenadaPontiac Grand Prix LJChevrolet Monte Carlo LandauChrysler CordobaFord ThunderbirdVolkswagen Rabbit CustomPontiac Sunbird CoupeToyota Corolla LiftbackFord Mustang II 2+2Chevrolet ChevetteDodge Colt m/mSubaru DLVolkswagen DasherDatsun 810BMW 320iMazda RX-4Volkswagen Rabbit Custom DieselFord FiestaMazda GLC DeluxeDatsun B210 GXHonda Civic CVCCOldsmobile Cutlass Salon BroughamDodge DiplomatMercury Monarch ghiaPontiac Phoenix LJChevrolet MalibuFord Fairmont (auto)Ford Fairmont (man)Plymouth VolareAMC ConcordBuick Century SpecialMercury ZephyrDodge AspenAMC Concord d/lChevrolet Monte Carlo LandauBuick Regal Sport Coupe (turbo)Ford FuturaDodge Magnum XEChevrolet ChevetteToyota CorollaDatsun 510Dodge OmniToyota Celica GT LiftbackPlymouth SapporoOldsmobile Starfire SXDatsun 200-SXAudi 5000Volvo 264glSaab 99glePeugeot 604slVolkswagen SciroccoHonda Accord LXPontiac Lemans V6Mercury Zephyr 6Ford Fairmont 4AMC Concord DL 6Dodge Aspen 6Chevrolet Caprice ClassicFord LTD LandauMercury Grand MarquisDodge St. RegisBuick Estate Wagon (sw)Ford Country Squire (sw)Chevrolet Malibu Classic (sw)Chrysler Lebaron Town @ Country (sw)Volkswagen Rabbit CustomMazda GLC DeluxeDodge Colt Hatchback CustomAMC Spirit DLMercedes Benz 300dCadillac EldoradoPeugeot 504Oldsmobile Cutlass Salon BroughamPlymouth HorizonPlymouth Horizon TC3Datsun 210Fiat Strada CustomBuick Skylark LimitedChevrolet CitationOldsmobile Omega BroughamPontiac PhoenixVolkswagen RabbitToyota Corolla TercelChevrolet ChevetteDatsun 310Chevrolet CitationFord FairmontAMC ConcordDodge AspenAudi 4000Toyota Corolla LiftbackMazda 626Datsun 510 HatchbackToyota CorollaMazda GLCDodge ColtDatsun 210Volkswagen Rabbit C (Diesel)Volkswagen Dasher (diesel)Audi 5000s (diesel)Mercedes-Benz 240dHonda Civic 1500 glRenault Lecar DeluxeSubaru DLVolkswagen RabbitDatsun 280-ZXMazda RX-7 GSTriumph TR7 CoupeFord Mustang CobraHonda AccordPlymouth ReliantBuick SkylarkDodge Aries Wagon (sw)Chevrolet CitationPlymouth ReliantToyota StarletPlymouth ChampHonda Civic 1300SubaruDatsun 210 MPGToyota TercelMazda GLC 4Plymouth Horizon 4Ford Escort 4WFord Escort 2HVolkswagen JettaRenault 18iHonda PreludeToyota CorollaDatsun 200SXMazda 626Peugeot 505s Turbo DieselSaab 900sVolvo DieselToyota CressidaDatsun 810 MaximaBuick CenturyOldsmobile Cutlass LSFord Grenada glChrysler Lebaron SalonChevrolet CavalierChevrolet Cavalier WagonChevrolet Cavalier 2-doorPontiac J2000 SE HatchbackDodge Aries SEPontiac PhoenixFord Fairmont FuturaAMC Concord DLVolkswagen Rabbit lMazda GLC Custom lMazda GLC CustomPlymouth Horizon MiserMercury Lynx lNissan Stanza XEHonda AccordToyota CorollaHonda CivicHonda Civic (auto)Datsun 310 GXBuick Century LimitedOldsmobile Cutlass Ciera (diesel)Chrysler Lebaron MedallionFord Grenada lToyota Celica GTDodge Charger 2.2Chevrolet CamaroFord Mustang GLVolkswagen PickupDodge RampageFord RangerChevy S-10"

In [41]:
#mean
cars.MPG.mean()

23.051231527093602

In [42]:
#median
cars.MPG.median()

22.35

In [43]:
#standard deviation
cars.MPG.std()

8.40177735227059

In [44]:
#variance
cars.MPG.var()

70.58986267712702

In [45]:
#minimum
cars.MPG.min()

0.0

In [47]:
#Maximum
cars.MPG.max()

46.6

In [32]:
#25th quantile
cars.MPG.quantile(.25)

17.0

In [33]:
#90th quantile
cars.MPG.quantile(0.9)

34.25

In [34]:
#90th, 95th and 99th percentile
cars.MPG.quantile([0.9,0.95,0.99])

0.90    34.250
0.95    37.000
0.99    43.385
Name: MPG, dtype: float64

In [53]:
#Inter-quartile range
cars.MPG.quantile(0.75) - cars.MPG.quantile(0.25)

12.0

In [59]:
#OR create a function
def IQR(x):
    return(x.quantile(0.75) - x.quantile(0.25))

In [60]:
IQR(cars.Acceleration)

3.474999999999998

In [40]:
#describe
cars.MPG.describe()

count    406.000000
mean      23.051232
std        8.401777
min        0.000000
25%       17.000000
50%       22.350000
75%       29.000000
max       46.600000
Name: MPG, dtype: float64

### Some Functions and their Descriptions

    Function	Description
---------------------------------------------
       count	Number of non-null observations
         sum	Sum of values
        mean	Mean of values
         mad	Mean absolute deviation
      median	Arithmetic median of values
         min	Minimum
         max	Maximum
        mode	Mode
         abs	Absolute Value
        prod	Product of values
         std	Unbiased standard deviation
         var	Unbiased variance
         sem	Unbiased standard error of the mean
        skew	Unbiased skewness (3rd moment)
        kurt	Unbiased kurtosis (4th moment)
    quantile	Sample quantile (value at %)
      cumsum	Cumulative sum
     cumprod	Cumulative product
      cummax	Cumulative maximum
      cummin	Cumulative minimum

In [64]:
cars.MPG.describe

<bound method NDFrame.describe of 0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
5      15.0
6      14.0
7      14.0
8      14.0
9      15.0
10      0.0
11      0.0
12      0.0
13      0.0
14      0.0
15     15.0
16     14.0
17      0.0
18     15.0
19     14.0
20     24.0
21     22.0
22     18.0
23     21.0
24     27.0
25     26.0
26     25.0
27     24.0
28     25.0
29     26.0
       ...
376    27.0
377    34.0
378    31.0
379    29.0
380    27.0
381    24.0
382    23.0
383    36.0
384    37.0
385    31.0
386    38.0
387    36.0
388    36.0
389    36.0
390    34.0
391    38.0
392    32.0
393    38.0
394    25.0
395    38.0
396    26.0
397    22.0
398    32.0
399    36.0
400    27.0
401    27.0
402    44.0
403    32.0
404    28.0
405    31.0
Name: MPG, Length: 406, dtype: float64>