In [1]:
a = 10

In [2]:
import os
import math
import random

In [3]:
import numpy as np

In [4]:
k= 'li'

In [5]:
l = [1,2,3]

In [6]:
list

list

In [31]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [27]:
np.array(range(10))

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [33]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [41]:
z = np.zeros((3,2))

In [42]:
z

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [56]:
np.random.randint(2,10)

6

In [58]:
help(np.full_like)

Help on function full_like in module numpy.core.numeric:

full_like(a, fill_value, dtype=None, order='K', subok=True)
    Return a full array with the same shape and type as a given array.

    Parameters
    ----------
    a : array_like
        The shape and data-type of `a` define these same attributes of
        the returned array.
    fill_value : scalar
        Fill value.
    dtype : data-type, optional
        Overrides the data type of the result.
    order : {'C', 'F', 'A', or 'K'}, optional
        Overrides the memory layout of the result. 'C' means C-order,
        'F' means F-order, 'A' means 'F' if `a` is Fortran contiguous,
        'C' otherwise. 'K' means match the layout of `a` as closely
        as possible.
    subok : bool, optional.
        If True, then the newly created array will use the sub-class
        type of 'a', otherwise it will be a base-class array. Defaults
        to True.

    Returns
    -------
    out : ndarray
        Array of `fill_value` with the same shape and type as `a`.

    See Also
    --------
    zeros_like : Return an array of zeros with shape and type of input.
    ones_like : Return an array of ones with shape and type of input.
    empty_like : Return an empty array with shape and type of input.
    zeros : Return a new array setting values to zero.
    ones : Return a new array setting values to one.
    empty : Return a new uninitialized array.
    full : Fill a new array.

    Examples
    --------
    >>> x = np.arange(6, dtype=int)
    >>> np.full_like(x, 1)
    array([1, 1, 1, 1, 1, 1])
    >>> np.full_like(x, 0.1)
    array([0, 0, 0, 0, 0, 0])
    >>> np.full_like(x, 0.1, dtype=np.double)
    array([ 0.1,  0.1,  0.1,  0.1,  0.1,  0.1])
    >>> np.full_like(x, np.nan, dtype=np.double)
    array([ nan,  nan,  nan,  nan,  nan,  nan])

    >>> y = np.arange(6, dtype=np.double)
    >>> np.full_like(y, 0.1)
    array([ 0.1,  0.1,  0.1,  0.1,  0.1,  0.1])

In [59]:
np.arange(6)

array([0, 1, 2, 3, 4, 5])

In [66]:
np.full((3,2),0.234)

array([[0.234, 0.234],
       [0.234, 0.234],
       [0.234, 0.234]])

In [69]:
z[-1]

array([0., 0.])

In [71]:
x = np.linspace(0, 1, 5)
x

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [72]:
x[-1]

1.0

In [73]:
x = x[:-1]

In [74]:
x

array([0.  , 0.25, 0.5 , 0.75])

In [88]:
x = np.linspace(1,6,10,endpoint=False, retstep=True)
x

(array([1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5]), 0.5)

In [90]:
x = np.arange(1,10,1)
x

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [93]:
np.eye(4) #identity matris

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

array([1., 1., 1., 1.])

In [122]:
x = np.random.randint(52,size=(6,7))
x

array([[49, 44,  9, 46, 15, 51,  8],
       [14, 50, 51, 10, 22, 35, 42],
       [43,  8, 46, 24, 27, 25, 15],
       [19, 20, 48, 10,  1, 43, 20],
       [45, 28, 16, 22, 15, 46, 30],
       [15, 33, 27, 15, 13, 31, 40]])

In [127]:
x[:4][:2] #it is slicing first 0to3 [:4] and then slincing again 0to1[:2] from the resulted data.

array([[49, 44,  9, 46, 15, 51,  8],
       [14, 50, 51, 10, 22, 35, 42]])

In [128]:
x[:4,:3] #this is proper way of slicing

array([[49, 44,  9],
       [14, 50, 51],
       [43,  8, 46],
       [19, 20, 48]])

In [131]:
x.transpose()

array([[49, 14, 43, 19, 45, 15],
       [44, 50,  8, 20, 28, 33],
       [ 9, 51, 46, 48, 16, 27],
       [46, 10, 24, 10, 22, 15],
       [15, 22, 27,  1, 15, 13],
       [51, 35, 25, 43, 46, 31],
       [ 8, 42, 15, 20, 30, 40]])

In [134]:
y = x[0].copy()
y

array([49, 44,  9, 46, 15, 51,  8])

In [137]:
y = np.random.randint(10,20,size=(3,4,3))
y

array([[[17, 17, 19],
        [18, 13, 13],
        [11, 12, 18],
        [13, 18, 19]],

       [[17, 17, 14],
        [16, 10, 14],
        [12, 12, 10],
        [14, 17, 12]],

       [[16, 15, 14],
        [19, 13, 17],
        [15, 15, 11],
        [17, 10, 14]]])

In [138]:
y[1,2]

array([12, 12, 10])

In [140]:
x[:2]

array([[49, 44,  9, 46, 15, 51,  8],
       [14, 50, 51, 10, 22, 35, 42]])

In [141]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

In [142]:
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [182]:
x[names == 'Bob']

array([[49, 44,  9, 46, 15, 51,  8],
       [19, 20, 48, 10,  1, 43, 20]])

In [152]:
y

array([49, 44,  9, 46, 15, 51,  8])

In [153]:
type(y)

numpy.ndarray

In [154]:
y.sqrt()

AttributeError: 'numpy.ndarray' object has no attribute 'sqrt'

In [155]:
z = np.arange(9)

In [156]:
z

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [160]:
xsq=np.sqrt(x)
xsq

array([[7.        , 6.63324958, 3.        , 6.78232998, 3.87298335,
        7.14142843, 2.82842712],
       [3.74165739, 7.07106781, 7.14142843, 3.16227766, 4.69041576,
        5.91607978, 6.4807407 ],
       [6.55743852, 2.82842712, 6.78232998, 4.89897949, 5.19615242,
        5.        , 3.87298335],
       [4.35889894, 4.47213595, 6.92820323, 3.16227766, 1.        ,
        6.55743852, 4.47213595],
       [6.70820393, 5.29150262, 4.        , 4.69041576, 3.87298335,
        6.78232998, 5.47722558],
       [3.87298335, 5.74456265, 5.19615242, 3.87298335, 3.60555128,
        5.56776436, 6.32455532]])

In [181]:
#b = np.append(x,[np.ones_like(x[1])],axis=0)
x = x[:7]
x

array([[49, 44,  9, 46, 15, 51,  8],
       [14, 50, 51, 10, 22, 35, 42],
       [43,  8, 46, 24, 27, 25, 15],
       [19, 20, 48, 10,  1, 43, 20],
       [45, 28, 16, 22, 15, 46, 30],
       [15, 33, 27, 15, 13, 31, 40],
       [ 1,  1,  1,  1,  1,  1,  1]])

In [189]:
np.random.choice(np.random.randint(20,size=10)*5, size=15, replace=True)

array([40,  5,  5, 95, 90, 80, 70, 40, 65, 10, 35, 80, 90, 55, 95])

In [204]:
np.add(x,5)

array([[54, 49, 14, 51, 20, 56, 13],
       [19, 55, 56, 15, 27, 40, 47],
       [48, 13, 51, 29, 32, 30, 20],
       [24, 25, 53, 15,  6, 48, 25],
       [50, 33, 21, 27, 20, 51, 35],
       [20, 38, 32, 20, 18, 36, 45],
       [ 6,  6,  6,  6,  6,  6,  6]])

In [207]:
x.astype('float32')

array([[49., 44.,  9., 46., 15., 51.,  8.],
       [14., 50., 51., 10., 22., 35., 42.],
       [43.,  8., 46., 24., 27., 25., 15.],
       [19., 20., 48., 10.,  1., 43., 20.],
       [45., 28., 16., 22., 15., 46., 30.],
       [15., 33., 27., 15., 13., 31., 40.],
       [ 1.,  1.,  1.,  1.,  1.,  1.,  1.]], dtype=float32)

In [209]:
x

array([[49, 44,  9, 46, 15, 51,  8],
       [14, 50, 51, 10, 22, 35, 42],
       [43,  8, 46, 24, 27, 25, 15],
       [19, 20, 48, 10,  1, 43, 20],
       [45, 28, 16, 22, 15, 46, 30],
       [15, 33, 27, 15, 13, 31, 40],
       [ 1,  1,  1,  1,  1,  1,  1]])

In [12]:
x = np.random.randn(3,4)
x

array([[-0.27023323,  0.26483265,  0.13058326,  1.11091703],
       [-0.52464538,  0.73347502, -0.52519533,  0.82490286],
       [-1.26513637, -0.12776905,  0.77527072,  2.05581527]])

In [13]:
x.sort(1)
x

array([[-0.27023323,  0.13058326,  0.26483265,  1.11091703],
       [-0.52519533, -0.52464538,  0.73347502,  0.82490286],
       [-1.26513637, -0.12776905,  0.77527072,  2.05581527]])

In [17]:
arr = np.random.randint(100,size=100)
arr

array([54, 17, 97, 23, 86, 48, 56, 28, 16, 75, 89, 35,  0, 23, 93, 68, 71,
       33, 56,  8, 32, 76,  3, 90, 47,  8, 34, 49, 28, 93, 44, 13, 53, 17,
       97, 34, 76, 66, 73, 52, 86,  1, 24, 55, 63, 74, 49, 27, 12, 15, 34,
       94, 87, 68,  9, 53, 40, 61, 53, 52,  8, 94, 95, 93, 90,  3, 92, 98,
       71,  9, 39, 88, 16, 66, 36, 99, 82, 59, 86, 47, 17, 12, 90,  9, 54,
       90, 69, 90, 27, 27, 57, 52, 83, 26, 33, 88, 79, 48, 45, 99])

In [23]:
arr[int(len(arr)*0.5)]

34

In [24]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

In [25]:
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [28]:
n = np.array(sorted(set(names)))
n

array(['Bob', 'Joe', 'Will'], dtype='<U4')

In [39]:
a = np.round(np.random.rand(7),1)
b = np.round(np.random.rand(7),1)
a, b

(array([0.9, 0.5, 1. , 0.6, 1. , 0.4, 0.7]),
 array([0.3, 1. , 0.3, 0.2, 0.8, 0.5, 0.8]))

In [40]:
np.intersect1d(a,b)

array([0.5, 1. ])

In [41]:
np.unique(a)

array([0.4, 0.5, 0.6, 0.7, 0.9, 1. ])

In [42]:
np.setdiff1d(a,b) #A - B sets

array([0.4, 0.6, 0.7, 0.9])

In [43]:
np.setdiff1d(b,a)

array([0.2, 0.3, 0.8])

In [49]:
c = np.random.sample(10)
c

array([0.40210832, 0.91477666, 0.83132494, 0.87150731, 0.1557557 ,
       0.34841362, 0.97711923, 0.3015484 , 0.43443538, 0.98859932])

In [50]:
x

array([[-0.27023323,  0.13058326,  0.26483265,  1.11091703],
       [-0.52519533, -0.52464538,  0.73347502,  0.82490286],
       [-1.26513637, -0.12776905,  0.77527072,  2.05581527]])

In [51]:
arr

array([54, 17, 97, 23, 86, 48, 56, 28, 16, 75, 89, 35,  0, 23, 93, 68, 71,
       33, 56,  8, 32, 76,  3, 90, 47,  8, 34, 49, 28, 93, 44, 13, 53, 17,
       97, 34, 76, 66, 73, 52, 86,  1, 24, 55, 63, 74, 49, 27, 12, 15, 34,
       94, 87, 68,  9, 53, 40, 61, 53, 52,  8, 94, 95, 93, 90,  3, 92, 98,
       71,  9, 39, 88, 16, 66, 36, 99, 82, 59, 86, 47, 17, 12, 90,  9, 54,
       90, 69, 90, 27, 27, 57, 52, 83, 26, 33, 88, 79, 48, 45, 99])

In [56]:
arr = arr[:3][:4]

IndexError: too many indices for array