In [1]:
import numpy as np
import pandas as pd

In [35]:
s = pd.Series([1,2,3])
s

0    1
1    2
2    3
dtype: int64

In [33]:
s.values , type(s.values)

(array([1, 2, 3], dtype=int64), numpy.ndarray)

In [34]:
s[[0,1,2]]

2

In [36]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [37]:
s1 = pd.Series(['1', 2, 4.5])
s1

0      1
1      2
2    4.5
dtype: object

In [38]:
s1.values

array(['1', 2, 4.5], dtype=object)

In [41]:
arr = np.array(['1', 2, 4.5], dtype=np.object)
arr

array(['1', 2, 4.5], dtype=object)

In [67]:
np.random.seed(10)
np.random.rand(10)

array([0.77132064, 0.02075195, 0.63364823, 0.74880388, 0.49850701,
       0.22479665, 0.19806286, 0.76053071, 0.16911084, 0.08833981])

In [89]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6])
obj

0    4.5
1    7.2
2   -5.3
3    3.6
dtype: float64

In [90]:
type(obj.index)

pandas.core.indexes.range.RangeIndex

In [91]:
pd.Index([1,2,3])

Int64Index([1, 2, 3], dtype='int64')

In [96]:
obj.reindex(pd.Index([1,2,9]))

1    7.2
2   -5.3
9    NaN
dtype: float64

In [95]:
obj

0    4.5
1    7.2
2   -5.3
3    3.6
dtype: float64

In [100]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 7])
obj3

0      blue
2    purple
7    yellow
dtype: object

In [101]:
obj3.reindex(range(9), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    purple
5    purple
6    purple
7    yellow
8    yellow
dtype: object

In [102]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)))
frame #BY Default columns and rows will take 0 to n values

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [112]:
f = pd.DataFrame({'a':1, 'b':2})
f

ValueError: If using all scalar values, you must pass an index

In [113]:
f = pd.DataFrame({'a':[1], 'b':[2]})
f

   a  b
0  1  2

In [120]:
fr = pd.DataFrame(np.random.randint(1,20,size=(4,3)),columns=(7,8,9))
fr

    7   8   9
0  15   8  12
1   2   1  13
2   6   5   8
3  19  13   3

In [139]:
fr.drop([7,8],axis='columns')

    9
0  12
1  13
2   8
3   3

In [141]:
pd.DataFrame([{'a': 1, 'b': 2}, {'e': 3, 'c': 4}])

     a    b    c    e
0  1.0  2.0  NaN  NaN
1  NaN  NaN  4.0  3.0

In [143]:
pd.DataFrame([{'a': 1, 'b': 2}]) #always better use this

   a  b
0  1  2

In [144]:
#or
pd.DataFrame({'a': [1], 'b': [2]})

   a  b
0  1  2

In [145]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [149]:
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

In [3]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [13]:
data.loc['Ohio']

one      0
two      1
three    2
four     3
Name: Ohio, dtype: int32

In [8]:
data['one']

Ohio         0
Colorado     4
Utah         8
New York    12
Name: one, dtype: int32

In [14]:
data.loc['Ohio',['one','two']]

one    0
two    1
Name: Ohio, dtype: int32

In [18]:
data.iloc[0]

one      0
two      1
three    2
four     3
Name: Ohio, dtype: int32

In [31]:
data.iloc[0,[0,2,3,1]]

one      0
three    2
four     3
two      1
Name: Ohio, dtype: int32

In [39]:
data.iloc[:, :2]

          one  two
Ohio        0    1
Colorado    4    5
Utah        8    9
New York   12   13

In [42]:
data.iloc[2,[2]]

three    10
Name: Utah, dtype: int32

In [43]:
data.iloc[2,2]

10

In [44]:
data.iloc

In [45]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
.....: index=['three', 'one'],
.....: columns=['d', 'a', 'b', 'c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [48]:
frame.sort_values()

TypeError: sort_values() missing 1 required positional argument: 'by'

In [49]:
frame.rank()

         d    a    b    c
three  1.0  1.0  1.0  1.0
one    2.0  2.0  2.0  2.0

In [57]:
obj = pd.Series([7, 7,-5, 7,7, 4,4, 2, 0, 4])
obj

0    7
1    7
2   -5
3    7
4    7
5    4
6    4
7    2
8    0
9    4
dtype: int64

In [64]:
obj.rank(method='average')

0    8.5
1    8.5
2    1.0
3    8.5
4    8.5
5    5.0
6    5.0
7    3.0
8    2.0
9    5.0
dtype: float64

In [65]:
cars = pd.read_csv('cars.csv')

In [67]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
Car             406 non-null object
MPG             406 non-null float64
Cylinders       406 non-null int64
Displacement    406 non-null float64
Horsepower      406 non-null int64
Weight          406 non-null int64
Acceleration    406 non-null float64
Model           406 non-null int64
Origin          406 non-null object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.6+ KB

In [75]:
cars.shape

(406, 9)